<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OZE APP</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
    </script>
</head>
<body>
{% if user.is_authenticated %}
<div class="navi">
    <a href="/dashboard/">
    <div class="dropbtn">Dashboard</div>
    </a>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Create</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="/add-employee/">New employee</a>
            <a href="/add-squad/">New squad</a>
            <a href="/add-investment/">New investment</a>
          </div>
    </div>
    <a href="/calendar/">
        <div class="dropbtn">Calendar</div>
    </a>
    <a href="/investments/">
        <div class="dropbtn">Investments</div>
    </a>
    <a href="/employees/">
        <div class="dropbtn">Employees</div>
    </a>
    <a href="/squads/">
        <div class="dropbtn">Squads</div>
    </a>
    <a href="/logout/">
        <div class="dropbtn" id="logout-position">Logout</div>
    </a>

</div>
{% endif %}
{% block content %}
{% endblock %}
{% if user.is_authenticated %}
<div id="back-link">Logged: {{ user }}</div>
{% endif %}
</body>
</html>
