<!doctype html>
<html>
    <head><meta charset="utf-8"></head>
    <body>
<!--    <img src="{% static 'logo.png' %}" alt="My image">-->
        <h1>Szkoła podstawowa nr 1 im. Chucka Norrisa.</h1>
<!--        {% block content %}{% endblock %}-->
<!--            {% if user.is_authenticated %}-->
<!--                Witaj {{ user }}. <a href="/logout/">Wyloguj</a>-->
<!--            {% else %}-->
<!--                Witaj nieznajomy. <a href="/login/">Zaloguj</a>-->
<!--            {% endif %}-->
    </body>
</html>