{% extends 'base.html' %}
{% block content %}
<div class="title">
    <p>
        {{ currentMonth }}
    </p>

</div>
<div class="center">
    <table class="table">
        <thead>
            <tr class="d-flex">
                {% for day in day_name %}
                <th class="col-2">{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex">
                {% for day in day_name %}
                <td class="col-2"> </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}