{% extends 'base.html' %}
{% block content %}
<div class="title">
    <p>
        {{ currentMonth }}
    </p>
</div>
<div class="center">
    <table class="table">
        <thead>
            <tr class="d-flex">
                {% for day in day_name %}
                    <th class="col-2">{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <form method="post">
        {% csrf_token %}
        <tbody><tr class="d-flex">
                {% for day in all_dates %}

                        {% if forloop.counter0|divisibleby:7 %}
                            <tr class="d-flex"></tr>
                        {% endif %}
                    <td class="col-2"><a href="/calendar/{{day.day_name}}/{{day.month_name}}/{{day.year_name}}/" class="day">{{ day.day_name }}</a> </td>
                 {% endfor %}</tr>
        </tbody>
        </form>
    </table>
</div>
{% endblock %}