{% extends 'base.html' %}
{% block content %}
<div class="dashboard">
    <h1>
        Witaj na pulpicie głównym aplikacji!
    </h1>
    <h4>Tutaj możesz:</h4>
    <p style="text-align: left">
            - Stworzyć nowego użytkownika</br>
            - Stworzyć nowa brygadę</br>
            - Stworzyć nową inwestycję</br>
            - Zarządzać kalendarzem</br>
            - Wyświetlić wszystkie inwestycje</br>
            - Wyświetlić wszystkich pracowników</br>
            - Wyświetlić wszystkie brygady</br>
            - Wylogować się</br>
    </p>
</div>
{% endblock %}