{% extends 'base.html' %}
{% block content %}
<div class="title">
    <p>
        Lista pracowników
    </p>
</div>
<div class="center">
    <table class="table">
        <thead>
            <tr class="d-flex">
                <th class="col-2">ID</th>
                <th class="col-2">Pracownik</th>
                <th class="col-8">Brygada</th>
                <th class="col-2"></th>
            </tr>
        </thead>
    {% for worker in workers %}
        <tbody>
            <tr class="d-flex">
                <td class="col-2">{{ worker.id }}</td>
                <td class="col-2">{{ worker.first_name }} {{ worker.last_name }}</td>
                <td class="col-8">{{ worker.squad }}</td>
                <td class="col-2">
                    <a href ='/employee/{{ worker.id }}/' >
                        <button type="button" class="btn btn-primary rounded-0">
                            Szczegóły
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}