{% extends 'base.html' %}
{% block content %}
<div class="title">
    <p>
        List of employees
    </p>
</div>
<div class="center">
    <table class="table">
        <thead>
            <tr class="d-flex">
                <th class="col-2">ID</th>
                <th class="col-2">Employee</th>
                <th class="col-2">Position</th>
                <th class="col-2">Squad</th>
                <th class="col-2">Edit</th>
<!--                <th class="col-2">Szczegóły</th>-->
            </tr>
        </thead>
    {% for worker in workers %}
        <tbody>
            <tr class="d-flex">
                <td class="col-2">{{ worker.id }}</td>
                <td class="col-2">{{ worker.first_name }} {{ worker.last_name }}</td>
                <td class="col-2">
                    {% if worker.position == 1 %}
                        {{ positions.0.1 }}
                    {% elif worker.position == 2 %}
                        {{ positions.1.1 }}
                    {% elif worker.position == 3 %}
                        {{ positions.2.1 }}
                    {% elif worker.position == 4 %}
                        {{ positions.3.1 }}
                    {% endif %}
                </td>
                <td class="col-2">
                {% if worker.squad == None %}
                    -
                {% elif worker.squad != None %}
                    {{ worker.squad }}
                {% endif %}
                </td>
                <td class="col-2">
                    <a href ='/employee/modify/{{ worker.id }}/' >
                        <button type="button" class="button-list">
                            Edit
                        </button>
                    </a>
                </td>
<!--                <td class="col-2">-->
<!--                    <a href ='/employee/{{ worker.id }}/' >-->
<!--                        <button type="button" class="btn btn-primary rounded-0">-->
<!--                            Szczegóły-->
<!--                        </button>-->
<!--                    </a>-->
<!--                </td>-->
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}