{% extends 'base.html' %}
{% block content %}
<div class="title">
    <p>
        Lista inwestycji
    </p>
</div>
<div class="center">
    <table class="table">
        <thead>
            <tr class="d-flex">
                <th class="col-2">ID</th>
                <th class="col-2">Inwestor</th>
                <th class="col-2">Ulica</th>
                <th class="col-2">Miasto</th>
                <th class="col-2">Kod pocztowy</th>
                <th class="col-2">Typ inwestycji</th>
                <th class="col-2">Edytuj</th>
<!--                <th class="col-2">Szczegóły</th>-->
            </tr>
        </thead>
    {% for investment in investments %}
        <tbody>
            <tr class="d-flex">
                <td class="col-2">{{ investment.id }}</td>
                <td class="col-2">{{ investment.investment.first_name }} {{ investment.investment.last_name }}</td>
                <td class="col-2">{{ investment.investment.street_name}}</td>
                <td class="col-2">{{ investment.investment.city_name}}</td>
                <td class="col-2">{{ investment.investment.zip_code}}</td>
                <td class="col-2">
                    {% if investment.investment.type_of_investment == 1 %}
                        {{ types_of_investment.0.1 }}
                    {% elif investment.investment.type_of_investment == 2 %}
                        {{ types_of_investment.1.1 }}
                    {% elif investment.investment.type_of_investment == 3 %}
                        {{ types_of_investment.2.1 }}
                    {% elif investment.investment.type_of_investment == 4 %}
                        {{ types_of_investment.3.1 }}
                    {% endif %}
                </td>
                <td class="col-2">
                    <a href ='/investment/modify/{{ investment.investment.id }}/' >
                        <button type="button" class="button-list">
                            Edytuj
                        </button>
                    </a>
                </td>
<!--                <td class="col-2">-->
<!--                    <a href ='/investment/{{ investment.id }}/' >-->
<!--                        <button type="button" class="btn btn-primary rounded-0">-->
<!--                            Szczegóły-->
<!--                        </button>-->
<!--                    </a>-->
<!--                </td>-->
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}