{% extends 'base.html' %}
{% block content %}
<div class="title">
    <p>
        Selected day
    </p>
</div>
<div class="center">
    <form method="post">
        {% csrf_token %}
        {{ error_text }}
        <h2>Day: {{ selectedDay.day_name }} | Month: {{ selectedDay.month_name }} | Year: {{ selectedDay.year_name }}</h2>


            <table class="table">
        <thead>
            <tr class="d-flex">
                <th class="col-2">First name</th>
                <th class="col-2">Last name</th>
                <th class="col-2">Street</th>
                <th class="col-2">City</th>
                <th class="col-2">Zip-code</th>
                <th class="col-2">Type of investment</th>
                <th class="col-2">Squad</th>
            </tr>
        </thead>
        <tbody>
        {% for investment in investments %}
            <tr class="d-flex">
                <td class="col-2">
                    {{ investment.first_name }}
                </td>
                <td class="col-2">
                    {{ investment.last_name }}
                </td>
                <td class="col-2">
                    {{ investment.street_name }}
                </td>
                <td class="col-2">
                    {{ investment.city_name }}
                </td>
                <td class="col-2">
                    {{ investment.zip_code }}
                </td>
                <td class="col-2">
                    {{ investment.type_of_investment }}
                </td>
                <td class="col-2">
                    {{ investment.squad }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
</div>
{% endblock %}